* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: #69B9F3;
  --btn-color-hover: #5193c3;
  --text-color: #000;
  --bg-img: url("./assets/capa4.jpg");
}

body {
  background-color: #d9d9d9;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-areas: "image login";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100vh;
  
}

.module-screen {
  grid-area: image;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background: var(--bg-img) top center no-repeat;
  background-size: auto 100%;
}

.login_area {
  grid-area: login;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  
  text-align: center;
  margin: auto;
}

.login_area a {
  text-decoration: none;
}

.login_area img {
  width: 185px;
  margin: 0 auto;
}

.login_area input {
  width: 282px;
  height: 35px;

  border: none;
  border-radius: 18px;
  text-indent: 10%;
}

.login_area button {
  padding: 8px 28px;
  border-radius: 18px;
  border: none;

  background-color: var(--btn-color);

  margin-bottom: 12px;
  font-weight: bold;
  font-style: italic;
}

.login_area button:active {
  background-color: var(--btn-color-hover);
}

footer {
  position: absolute;
  bottom: 5px;
  
  font-size: 10px;
  font-style: italic;
}

/* Cadastro */

.form-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

.form-input {
  width: 282px;
  height: 35px;

  border: none;
  border-radius: 18px;
  text-indent: 10%;
}

.form-div div {
  margin: 10px auto;
  flex-direction: row;

}

.form-button {  
  padding: 8px 28px;
  border-radius: 18px;
  border: none;

  background-color: var(--btn-color);

  margin-bottom: 12px;
  font-weight: bold;
  font-style: italic;
}

.form-button:hover {
  background-color: var(--btn-color-hover);
  transition: 400ms ease-in-out;
}

.form-div a {
  text-decoration: none;
}